<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="base :: header"></th:block>
    <title>Registration</title>
</head>
<body>
<div th:replace="base :: navbar"></div>




<div class="jumbotron">
    <div class="container">
        <h4>New User Registration</h4>
        <form autocomplete="off" th:action="@{/register}" th:object="${user}" method="post">

            <div class="form-group">
                <div class="col-xs-4">

                    <label>First Name</label>
                   <span th:if="${#fields.hasErrors('firstname')}"
                                         th:errors="*{firstname}">First Name Error</span>
                    <input type="text" class="form-control" id="firstname" placeholder="First Name"
                           th:field="*{firstname}"/><br>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                    <label>Last Name</label>
                    <span th:if="${#fields.hasErrors('lastname')}"
                                         th:errors="*{lastname}">Last Name Error</span>
                    <input type="text" id="lastname" class="form-control" placeholder="Last Name"
                           th:field="*{lastname}"/><br>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-4">
                  <label>Email</label>
                    <span th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">Email Error</span>
                    <input type="text" id="email" class="form-control" placeholder="Email" th:field="*{email}"/><br>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4">
                  <label>Username</label>
                     <span th:if="${#fields.hasErrors('username')}"
                                         th:errors="*{username}">Username Error</span>
                    <input type="text" id="username" class="form-control" placeholder="Username"
                           th:field="*{username}"/><br>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4">

                    <label>Password</label>
                     <span th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}">Email Error</span>
                    <input type="text" id="password" class="form-control" placeholder="Password"
                           th:field="*{password}"/><br>
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
<div th:fragment="footer">
    <div class="footer text-center">copyright 2018</div>
</div>

</body>
</html>